# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0 :
        return a if a<b else b
    else:
        return a if a>b else b

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    list1=text.split(' ')
    if list1[0][0]==list1[1][0]:
        return True
    else:
        return False

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20 or (n1+n2)==20:
        return True
    else:
        return False

In [11]:
# Check
makes_twenty(20,10)

True

In [12]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [25]:
def old_macdonald(name):
    if(len(name)<4):
        return name[0].upper +name[1:len(name)]
    else:
        return name[0].upper() + name[1:3] + name[3].upper() + name[4:len(name)]

In [26]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [78]:
def master_yoda(text):
    list1=text.split(' ')
    list1=list1[-1::-1]
    return " ".join(list1)

In [79]:
# Check
master_yoda('I am home')

'home am I'

In [80]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [89]:
def almost_there(n):
    if (n>=90 and n<=110) or (n>=190 and n<=210) :
        return True
    else: 
        return False

In [90]:
# Check
almost_there(104.5)

True

In [91]:
# Check
almost_there(150)

False

In [92]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [93]:
def has_33(nums):
    previous=0
    for i in nums:
        if i==3 and previous==3:
            return True
        previous =i
    return False

In [99]:
# Check
has_33([1, 3, 3])

True

In [100]:
# Check
has_33([1, 3, 1, 3,])

False

In [101]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [104]:
def paper_doll(text):
    list1=[charc*3 for charc in text]
    return "".join(list1)

In [105]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [106]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [107]:
def blackjack(a,b,c):
    
    if 11 in(a,b,c):
        return (a+b+c) - 10
    elif (a+b+c) > 20:
        return "BUST"
    else:
        return a+b+c

In [108]:
# Check
blackjack(5,6,7)

18

In [109]:
# Check
blackjack(9,9,9)

'BUST'

In [110]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [163]:
def summer_69(arr):
    previous=0
    index6=-1
    index9=-1
    count=0
    for i in arr:
        if i==9 and previous==6:
            index9=count
        elif i==6 :
            previous=6
            index6=count
        count+=1
    if index6!=-1 and index9!=-1:
         del arr[index6:index9+1]
    if arr.count==0:
        return 0
    sum=0
    for i in arr:
        sum+=i
    return sum

In [164]:
# Check
"""summer_69([9,6, 3, 6,9,8,9])"""
summer_69([1, 3, 5])

9

In [165]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [166]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [206]:
def spy_game(nums):
    list_007=[(i,e) for i, e in enumerate(nums) if e == 0 or e==7]
    count_nums=len(list_007)
    index=0
    if count_nums>=3:
        for i in list_007:
            if index+2>count_nums-1:
                break;
            if list_007[index][1]==0 and list_007[index+1][1]==0 and  list_007[index+2][1] ==7:
                return True
            index+=1
        return False

In [213]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [214]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [215]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [227]:
def count_primes(num):
    count =0
    for i in range(num+1):
        flag=0
        if i > 3:
            for div in range(2,i):
                if i%div==0:
                    flag=1
                    break
        if flag==0 and i!=0 and i!=1:
            count+=1
        flag=0

    return count

In [228]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [231]:
def print_big(letter):
    for row in range(5):
        for col in range(5):
            if row == 0 and col==2 :
                print('*',end='')
            elif row==1 and (col==1 or col==3):
                print('*',end='')
            elif row==2:
                print('*',end='')
            elif (row ==3 or row== 4) and (col==0 or col==4):
                print('*',end='')
            else:
                print(end=' ')
        print()

In [232]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!